@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --theme-white: #f8f8f8 !important;
  --theme-black: #252525 !important;
  --theme-white-light: #a6a6a6 !important;
  --theme-black-light: #343434 !important;
  --border-color: #575757 !important;
  --color-black: #000000 !important;
  --color-white: #ffffff !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


input:focus{
  border-color: var(--theme-black-light) !important;
  box-shadow: 0 0 0 1px var(--theme-black-light) !important;
}

.bg-primary{
  background-color: var(--theme-black) !important;
}
.list-event p{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100px;
}
.actions-btn svg {
  background: #3182ce;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 4px;
}
.custom-checkbox span{
  border-color: var(--theme-black);
}
.custom-checkbox span[data-checked]{
  background: var(--theme-black);
  border-color: var(--theme-black);
}
.custom-checkbox span[data-checked]:hover{
  background: var(--theme-black);
  border-color: var(--theme-black);
}
th{
  color: var(--theme-black) !important;
}
td{
  color: var(--theme-black) !important;
}
.customTabs button[aria-selected="true"]{
  font-weight: 500;
}
.customTabs button[aria-selected="false"]{
  font-weight: 500;
  color: var(--theme-black);
}
.tab-panels > div {
  padding: 20px 0 !important;
}