@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --theme-white: #f8f8f8 !important;
  --theme-black: #252525 !important;
  --theme-white-light: #a6a6a6 !important;
  --theme-black-light: #343434 !important;
  --border-color: #575757 !important;
  --color-black: #000000 !important;
  --color-white: #ffffff !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

